html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: 1px solid teal;
}

:root {
  --prymary-text-color: #212121;
  --paragraf-text-color: #757575;
  --accent-color: #2196f3;
  --complementary-color: #ffffff;
  --backgraund-footer: rgba(47, 48, 58, 1);
}

body {
  margin: 0;
  background-color: #ffffff;
  color: var(--prymary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
b {
  color: #ffffff;
}

ul {
  list-style: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

li {
  display: inline-block;
}

.header-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-web {
  color: #2196f3;
}

.logo:hover {
  color: var(--accent-color);
}

/* .container-site { */
  margin-left: 85px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: inline-block;
  text-align: center;
}
/* .container-contacts { */
  margin-left: 305px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: inline-block;
  text-align: center;
}

.site-nav .link {
  color: var(--prymary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contact .link {
  color: var(--paragraf-text-color);
  font-family: inherit;
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: var(--accent-color);
  font-family: inherit;
}

/* Section */

.section-title {
  color: var(--prymary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.paragraf-text {
  color: var(--paragraf-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.profession {
  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.18;
}
/* Чем мы занимаемся */
.our-classes {
  color: var(--complementary-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 0;
}
.activities {
  display: block;
  text-align: center;
}

/* НАша команда */

.team-list {
  margin-top: 0;
  margin-bottom: 0;
}

.employee {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
}

.profession {
  margin-bottom: 16px;
  margin-top: 10px;
  text-align: center;
}

/* Постоянные клиенты */
.clients {
  padding: 0;
  margin: 0;

  text-align: center;
}

.clients-company-one {
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 63px;
  padding-right: 63px;
  margin-right: 30px;
}
.clients-company-two {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 30px;
  margin-left: 0;
}

.clients-company-three {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 30px;
}

.clients-company-four {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 30px;
}

.clients-company-five {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 55px;
  padding-right: 55px;
  margin-right: 30px;
}

.clients-company-six {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 41px;
  padding-right: 41px;
}

/* Кнопка */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;

  padding: 10 px 32px;
  display: inline-block;
  min-width: 200px;
  align-items: center;
  text-align: center;
  border-radius: 4px;

  color: var(--complementary-color);
  background-color: var(--accent-color);
}

/* Футер */

.footer {
  background-color: var(--backgraund-footer);
  letter-spacing: 0.03em;
}

.footer-web {
  color: #2196f3;
}

.footer-studio {
  color: var(--complementary-color);
}

.footer-list. footer-link {
  color: rgba(255, 255, 255, 60%);
}
/* Герой */

.hero {
  background-color: rgba(47, 48, 58, 0.8);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  color: var(--complementary-color);

  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Особености */

.feautures-container {
  text-align: center;
}
.work-principles {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features {
  display: flex;
  margin: 0;
}

. .work-principles {
  margin-top: 30px;
  margin-bottom: 10px;
}

.paragraf-text {
  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.filters-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
